/* add css styles here (optional) */
header {
	display: grid;
  grid-template-columns: repeat(3, 30%);
  align-items: center;
}

h1 {
	order: 2;
}

.littleCalendarWrapper {
	width: 500px;
}

.calWrapper {
  display: grid;
 	grid-gap: 0;
  grid-template-columns: repeat(7, auto);
  background-color: #fff;
  color: #444;
}

.calSquare {
	border: 0 1px 1px 0;
	padding: 10px;
  cursor: pointer;
  user-select: none;
}

.calSquare.disabled {
  color: #D3D3D3;
  cursor: default;
}

.calSquare.active {
  background: #C6D7DC;
  color: #fff;
}

.arrow {
  cursor: pointer;
}

.arrow::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

.arrow.arrowRight {
  order: 3;
  text-align: right;
}

.arrow.arrowRight::before {
  left: 0;
  transform: rotate(45deg);
}

.arrow.arrowLeft {
  order: 1;
}

.arrow.arrowLeft::before {
  left: 0.25em;
  transform: rotate(-135deg);
}